.range-slider {
  appearance: none;
  @apply rounded-full h-1.5 cursor-pointer;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  overflow: visible;
  @apply !bg-white w-3 h-3 rounded-full cursor-pointer;
}
