@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
.scrollbar {
  @apply overflow-y-auto overflow-x-hidden;
}

.scrollbar-x {
  @apply overflow-x-auto overflow-y-hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-secondary bg-opacity-25;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-x::-webkit-scrollbar {
  height: 5px;
}

.scrollbar-x::-webkit-scrollbar-thumb {
  @apply bg-secondary bg-opacity-25;
}

/* Tabs */
.tab-active {
  position: relative;
  color: theme("colors.primary");
}

.tab-active::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    theme("colors.secondary"),
    theme("colors.primary")
  );
}
