.banner-content {
  animation: banner-content 40s linear 0.5s infinite;

  &:hover {
    animation-play-state: paused;
  }
}
@keyframes banner-content {
  100% {
    transform: translateX(-100%);
  }
}
