.banner-content {
  overflow: hidden;
  -webkit-animation: banner-content 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
@-webkit-keyframes banner-content {
  100% {
    transform: translateX(-100%);
  }
}
